<h1>Create New question</h1>

<form action="/tests/<%=params[:test_id]%>/questions" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <label for="question-name">Question:</label>
    <input type="text" name="question[name]" id="question-name">
  </p><br>

  <input type="submit" value="Create">
</form>
