<p> 
  <strong>Author:</strong>
  Kosikov Vitaly
</p>

<p><%= github_url('Nordveyl', 'test-guru-') %> </p>

<p><%= link_to 'Учебный проект в онлайн-школе Thinknetica', "https://thinknetica.com/" %> </p>

<p><%= current_year %> </p>

