<h1>Question</h1>

<p> 
  <%= @answer.question.name %> 
</p>

<p> 
  <b>Answer:</b>
  <%= @answer.name %>
</p> 

<p> 
  <b>Correct:</b>
  <%= @answer.correct %>
</p> 

<%= link_to "Back", question_path(@answer.question) %>
